/*-------------------------HEADER-------------------------  */
.header{
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .header-content{
    width: 60%;
    justify-content: space-between;
  }
  .header-content.planner{
    width: 90%;
    justify-content: space-between;

  }
  .left-header h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-header{
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .plan-button{
    border-color: rgb(196, 205, 213);
    font-weight: 600;
    width: 100px;
  }
  .avatar-container{
    padding-left: 10px;
    border-left: 1px solid #ddd
  }
  .login-avatar{
    background: white;
    border:1px solid #ddd;
    width: 40px;
    height: 40px;
  }
  .ant-row{
    flex-flow: nowrap;
  }
  .ant-menu-item{
  
  }
  .ant-input-affix-wrapper{
    background: #F9FAFB;
    border: 0;
    max-width: 260px;
    height: 40px;
  }
/*-------------------------HEADER-------------------------  */

/*------------------------WHATSAPP-------------------------  */

.fixed-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 10;
  border: 1px solid #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
  background: #25d366;
  
  overflow: hidden;
}




.fixed-logo::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 1px solid #25d366;
  animation: pulse 1.5s infinite;
  z-index: 11;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
/*------------------------WHATSAPP-------------------------  */